<md-dialog aria-label="Create project" style="min-width:75%;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Éditer un projet</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">
						<svg style="width:24px;height:24px" viewBox="0 0 24 24">
						  <path fill="#FFFFFF" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
						</svg>
					</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="padding:20px;">
      <div class="md-dialog-content">
				<md-input-container>
					<label>Name</label>
					<input ng-model="project.name"/>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Description</label>
					<textarea ng-model="project.description" md-maxlength="500" rows="5" md-select-on-focus></textarea>
				</md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
			<md-button class="md-primary" type="submit" ng-click="reset()">Effacer</md-button>
      <span flex></span>
			<md-button class="md-raised md-primary" type="submit" ng-click="update(project)">Mettre à jour</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
