<header>
	<md-toolbar layout="row" class="md-theme-light">
		<md-button ng-if="showBack" ng-click="backProjects()">
      <md-icon>
				<svg style="width:24px;height:24px" viewBox="0 0 24 24">
	    		<path fill="#FFFFFF" d="M20,10V14H11L14.5,17.5L12.08,19.92L4.16,12L12.08,4.08L14.5,6.5L11,10H20Z" />
				</svg>
			</md-icon>
    </md-button>
		<div class="md-toolbar-tools">
			<span>Outil synchrone de groupware</span>
		</div>
		<md-button ng-if="showChat" ng-click="toggleRight()">
      <md-icon>
				<svg style="width:24px;height:24px" viewBox="0 0 24 24">
				  <path fill="#FFFFFF" d="M12,23A1,1 0 0,1 11,22V19H7A2,2 0 0,1 5,17V7C5,5.89 5.9,5 7,5H21A2,2 0 0,1 23,7V17A2,2 0 0,1 21,19H16.9L13.2,22.71C13,22.9 12.75,23 12.5,23V23H12M13,17V20.08L16.08,17H21V7H7V17H13M3,15H1V3A2,2 0 0,1 3,1H19V3H3V15Z" />
				</svg>
			</md-icon>
    </md-button>
		<md-button ng-if="showEdit" ng-click="editProject()">
      <md-icon>
			<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			  <path fill="#FFFFFF" d="M20.71,4.04C21.1,3.65 21.1,3 20.71,2.63L18.37,0.29C18,-0.1 17.35,-0.1 16.96,0.29L15,2.25L18.75,6M17.75,7L14,3.25L4,13.25V17H7.75L17.75,7Z" />
			</svg>
			</md-icon>
    </md-button>
		<md-button ng-if="showEditProfile" ng-click="editProfile()">
      <md-icon>
				<svg style="width:24px;height:24px" viewBox="0 0 24 24">
					<path fill="#FFFFFF" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
				</svg>
			</md-icon>
    </md-button>

	</md-toolbar>
</header>
