<div ng-include src="'views/header.html'"></div>
<div layout="row">
	<md-list flex>
	  <md-subheader class="md-no-sticky">Tous les Projets</md-subheader>
		<md-divider/>
		<md-list-item class="secondary-button-padding" ng-repeat="project in projects" ng-click="openProject(project._id)">
	    <div>
	      <h3>{{project.name}}</h3>
				<h4>{{users | user:project.owner}}</h4>
				<p>{{project.description}}</p>
	    </div>
			<span flex></span>
			<md-button ng-click="deleteProject($event, project._id)">
				<svg style="width:24px;height:24px" viewBox="0 0 24 24" flex>
					<path fill="#000000" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
				</svg>
			</md-button>
	  </md-list-item>
	</md-list>
	<md-button
		flex
		aria-label="Project creation fab"
		ng-click="showCreate($event)"
		class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling"
		docs-scroll-class="scrolling"
		style="position:fixed;">
		<md-icon>
			<svg style="width:24px;height:24px;" viewBox="0 0 24 24">
				<path fill="#FFFFFF" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
			</svg>
		</md-icon>
	</md-button>
</div>
