<div ng-include src="'views/header.html'"></div>
<div layout="row" style="height:500px;">
	<md-content layout-padding flex>
	  <h3>{{project.name}}</h3>
	  <p>{{project.description}}</p>
	</md-content>
  <md-sidenav  class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" flex>
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">
				<svg style="width:24px;height:24px" viewBox="0 0 24 24">
				  <path fill="#FFFFFF" d="M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9M10,16V19.08L13.08,16H20V4H4V16H10Z" />
				</svg>
			</h1>
    </md-toolbar>
    <md-content layout-padding layout="column" layout-align="center">
			<div layout="column" class="md-form" flex="25">
				<md-input-container flex>
					<label>Message</label>
					<input autocomplete="off" ng-model="msg"/>
				</md-input-container>
				<md-button class="md-raised md-primary" ng-click="sendMsg()" style="margin-top:30px;" flex="25">Envoyer</md-button>
			</div>
			<section flex>
				<md-list>
				  <md-list-item class="md-3-line" ng-repeat="message in messages">
				    <div class="md-list-item-text" layout="column">
							<h3>{{message.msg}}</h3>
				      <p>{{users | user:message.sender}} {{message.date | fromNow}}</p>
				    </div>
				  </md-list-item>
				</md-list>
			</section>
    </md-content>
  </md-sidenav>
</div>
