<div ng-include src="'views/header.html'"></div>
<div layout="row">
	<md-list flex>
	  <md-subheader class="md-no-sticky">Tous les Projets</md-subheader>
		<md-divider/>
	  <md-list-item class="md-3-line" ng-repeat="project in projects" ng-click="openProject(project._id)" >
	    <div class="md-list-item-text" layout="column" style="padding:15px;">
	      <h3>{{project.name}}</h3>
	      <!-- <h4><label>Propriétaire</label>: {{getUser(project.owner)}}</h4> -->
				<p>{{project.description}}</p>
	    </div>
	  </md-list-item>
	</md-list>
	<md-button
		flex
		aria-label="Project creation fab"
		ng-click="showCreate($event)"
		class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling"
		docs-scroll-class="scrolling"
		style="position:fixed;">
		<md-icon>
			<svg style="width:24px;height:24px;" viewBox="0 0 24 24">
				<path fill="#FFFFFF" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
			</svg>
		</md-icon>
	</md-button>
</div>
